
* {
    margin: 0;
    box-sizing: border-box;
    
}
#heading-logo {
    height: 130px;
    width: auto;
    margin: 10px;
    border-radius: 100%;
}

section div {
    padding: 20px;
}


